# Direnv public file to source locals.
# https://direnv.net/

source_env_if_exists .envrc.local
[ ! -f .env.local.required ] || dotenv .env.local.required
[ ! -f .env.local.optional ] || dotenv .env.local.optional
chmod -v -w .envrc
